@font-face {
	font-family: "Moon Light";
	src: url("../fonts/Moon-Light.otf");
}

html, body {
	width: 100%;
	height: 100%;
	background-color: #C7C7C7;

	}


header {
  position: relative;
  width: 100%;
  min-height: auto;
  text-align: center;
  color: black;
  background-image: url(../img/bg.jpg);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


@media(min-width:768px) {
    header {
        min-height: 100%;
    }
}



.navbar-default {
	padding-top: 2%;
	background-color: none;
	border: none;
	background: none;
}


.navbar-default .navbar-collapse {
	border-color: none;
}




#content {
	text-align: center;
	padding-top: 25%;
}

hr {
	width: 40%;
	border: 1px solid black;
}


.btn-default {
	padding-top: 3%;
	background: none;
	border: none;
	font-family: 'Moon Light';
	font-size: 1.8em;
}

.btn-default:hover {
	background: none;
	border: none;
}

.btn-default:after {
	background: none;
	border: none;
}


h1 {
	font-family: 'Moon Light';
	
}

h3 {
	font-family: 'Moon Light';
	letter-spacing: 0.3em;
}



a {
	font-family: 'Moon Light';
	text-decoration: none;
}

.navbar-default .navbar-nav > li > a {
	color: black;
	letter-spacing: 0.1em;
}

.navbar-default .navbar-brand {
	color: black;
	letter-spacing: 0.2em;
	font-size: 2em;

}

.first_section {
	background-color: #C7C7C7;
	padding-top: 10%;
	padding-bottom: 10%;
	color: black;
	
}


p {
	padding-top: 2%;
	font-family: 'Moon Light';
}


.second_section {
	padding-top: 10%;
	padding-bottom: 10%;
}


#float_me {
	float: right;
}

.third_section {
	padding-top: 10%;
	padding-bottom: 10%;
}


#shrink_me {
	width: 190px;
	float: right;
}


.padding_btm {
	padding-bottom: 5%;
}



.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
  padding-top: 0.2%;
}


/*
.navbar-fixed-top.scrolled .nav-link {
  color:#555;
}
*/ 