@font-face {
	font-family: "Moon Light";
	src: url("../fonts/Moon-Light.otf");
}

body, html {
	background-color: #f2efe8;
	height: 100% !important;
	width: 100%;
}



.header {
	background: url('../img/bg.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.header-title {
  padding-top: 20%;
}


#title {
	letter-spacing: 0.2em;
	color: #30231d;
	font-family: "Moon Light";
	font-size: 3em;
}

#subtitle {
	letter-spacing: 0.1em;
	color: #30231d;
	font-family: "Moon Light";
	font-size: 1.2em;
}

#share {
	font-family: 'Moon Light';
	letter-spacing: 0.12em;
}


.content-container {
	padding-top: 5%;
	background-color: #f2efe8;
	padding-bottom: 5%;
}

.section {
	padding-top: 8%;
	padding-bottom: 8%;
	background-color: #f2efe8;

}

.underline {
	height: 2px;
	width: 40%;
	margin: 0px auto 60px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 60px;
	margin-left: auto;
		}

.color {
	background:#b0aac2;
}

.moveme {
	display: inline-block;
	text-align: right;
}

#appstore {
	float: right;
}

#download_mesh {
	padding-bottom: 5%;
	letter-spacing: 0.2em;
	color: #30231d;
	font-family: "Moon Light";
	font-size: 3em;

}

